<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Hola bienvinido a mi app en el siguiente link podras activar tu cuenta
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>